.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: $minimum-space;
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    &_EMPTY, &_EXECUTING {
      cursor: inherit;
    }
    &-square {
      background: #dadada;
      width: 100%;
      position: relative;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    &-content {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      display: flex;
      align-items: start;
      justify-content: center;
    }
    &-name {
      background-color: #0000004a;
      color: #fff;
      padding: $minimum-space;
      border-radius: 5px;
    }
    &-actions {
      position: absolute;
      height: 20px;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: start;
      gap: 2px;
    }
    &-btn {
      width: 20px;
      height: 20px;
      background-color: #0000004a;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
